{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
<!-- Button trigger modal -->
<div class="mt-5 card-deck" style="margin:auto;"><!--使用bootstrap的卡片,mt-5代表margin top，所谓margin是CSS中的外边距的意思，margin top就是离上面导航栏的距离，改成mt-0看看？-->
    <div class="card border-dark mb-3" style="max-width: 18rem;"><!--卡片边框颜色为primary，即蓝色，最大长度为18rem（rem在CSS中是一种字体大小单位，了解即可)-->
        <div class="card-body text-primary"><!--卡片文字颜色为primary，即蓝色。-->
        <h5 class="card-title">{{ all_device }}</h5><!--添加卡片标题，标题内容为我们从views.py中传递过来的all_device变量，即设备总数量。-->
        </div>
        <div class="card-footer bg-dark border-dark text-white">设备总数</div><!--卡片页脚，设置页脚背景和边框的颜色，两个都为primary，文字颜色为白色。-->
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body text-primary">
        <h5 class="card-title">{{ cisco_device }}</h5>
        </div>
        <div class="card-footer bg-secondary border-secondary text-white">思科设备</div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-body text-primary">
        <h5 class="card-title">{{ forti_device }}</h5>
        </div>
        <div class="card-footer bg-warning border-warning text-white">飞塔设备</div>
    </div>
</div>
<div class="mt-0 card-deck" style="margin:auto;"><!--使用bootstrap的卡片,mt-5代表margin top，所谓margin是CSS中的外边距的意思，margin top就是离上面导航栏的距离，改成mt-0看看？-->
    <div class="card border-primary mb-3" style="max-width: 18rem;"><!--卡片边框颜色为primary，即蓝色，最大长度为18rem（rem在CSS中是一种字体大小单位，了解即可)-->
        <div class="card-body text-primary"><!--卡片文字颜色为primary，即蓝色。-->
        <h5 class="card-title">{{ all_router }}</h5><!--添加卡片标题，标题内容为我们从views.py中传递过来的all_device变量，即设备总数量。-->
        </div>
        <div class="card-footer bg-primary border-primary text-white">路由器</div><!--卡片页脚，设置页脚背景和边框的颜色，两个都为primary，文字颜色为白色。-->
    </div>

    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-body text-primary">
        <h5 class="card-title">{{ all_switch }}</h5>
        </div>
        <div class="card-footer bg-success border-success text-white">交换机</div>
    </div>

    <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-body text-primary">
        <h5 class="card-title">{{ all_firewall }}</h5>
        </div>
        <div class="card-footer bg-danger border-danger text-white">防火墙</div>
    </div>
</div>

<h5 class="mt-4">最近10个操作日志</h5>
{% if request.session.is_login %}
<table class="table table table-striped" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>序号</th>
            <th>设备</th>
            <th>状态</th>
            <th>时间</th>
            <th>信息</th>
        </tr>
    </thead>
    <tbody id="number">
        {% for log in last_10_event %}
        <tr>
            <td></td>
            <td>{{log.target}}</td>
            <td>{{log.status}}</td>
            <td>{{log.time}}</td>
            <td>{{log.messages}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script language="javascript" type="text/javascript">
    window.onload = function () {
        var tableLine = document.getElementById("number");
        for (var i = 0; i < tableLine.rows.length; i++) {
            tableLine.rows[i].cells[0].innerHTML = (i + 1);
        }
    }
</script>
{% else %}
    <h6 class="mt-4">你尚未登录，只能访问公开内容！</h6>
{% endif %}
{% endblock content %}